/* #region Common */
:root {
  --bg_header: rgba(0, 150, 136, 1);
  --bg_header-light: rgb(17, 223, 202);
  --bg_header-dark: rgb(8, 140, 127);
  --bg_body1: rgba(221, 219, 209, 1);
  --bg_body2: rgba(210, 219, 220, 1);
  --message_green: rgba(213, 249, 186, 1);
  --bg_active: rgba(233, 235, 235, 1);
  --bg_white: white;
  --bg_aside_header: rgba(234, 234, 234, 1);
  --gray_actions: rgba(177, 177, 177, 1);
  --light_gray: lightgray;
  --blue: blue;
  --notifiche: rgba(142, 218, 252, 1);
  --search: rgba(250, 250, 250, 1);
  --search_border: rgb(245, 245, 245, 1);
  --contact_border: rgba(214, 214, 214, 1);
  --gray_p: rgba(107, 115, 118, 1);
  --bg_footer: rgba(243, 238, 234, 1);
  --black: black;
}

.color_dark {
  --bg_header: rgb(9, 71, 65);
  --bg_header-light: rgb(20, 79, 161);
  --bg_body1: rgb(52, 52, 50);
  --bg_body2: rgb(18, 19, 19);
  --message_green: rgb(29, 94, 38);
  --bg_active: rgb(98, 99, 99);
  --bg_white: rgb(0, 0, 0);
  --bg_aside_header: rgb(41, 36, 36);
  --gray_actions: rgb(239, 235, 235);
  --light_gray: lightgray;
  --blue: blue;
  --notifiche: rgb(8, 99, 142);
  --search: rgb(29, 29, 29);
  --search_border: rgb(0, 0, 0);
  --contact_border: rgba(214, 214, 214, 1);
  --gray_p: rgb(169, 181, 186);
  --bg_footer: rgb(102, 64, 32);
  --black: white;
  color: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  background: linear-gradient(
    to bottom,
    var(--bg_header) 140px,
    var(--bg_body1) 140px,
    var(--bg_body2)
  );
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

h3 {
  font-weight: 400;
  margin-bottom: 0.25rem;
}

/* #endregion Common */

/* #region Utility */

:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 1px lightgray;
}

.active {
  background-color: var(--bg_active);
}

.contact.hide {
  display: none;
}

.container {
  margin: 0rem auto;
  width: 70%;
  padding: 3rem 0;
}

.bg_green {
  background-color: var(--message_green);
  margin-left: calc(100% / 12 * 7);
}

.bg_white {
  background-color: var(--bg_white);
}

.zoom {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0.5rem;
  color: var(--gray_actions);
  z-index: 2;
}

.action_zoom > i:first-child {
  margin-right: 0.5rem;
}

.action_zoom  > i:last-child {
  margin-left: 0.5rem;
}


.btn {
  padding: 0.5rem 1rem;
  background-color: var(--bg_aside_header);
  color: var(--gray_actions);
  border-radius: 0.5rem;
  border: 1px solid var(--gray_actions);
}

/* #endregion Utility */

#site_main {
  display: flex;
  height: 90vh;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat_selector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 90vh;
  width: 100%;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 2px var(--bg_header-dark);
  background-color: var(--bg_header-light);
  overflow-y: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 2.5rem;
  padding: 2rem;
  align-content: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin: 0 2rem;
}

.card > .img {
  min-width: 60px;
  width: 50%;
}

.splash_page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  aspect-ratio: 2 / 1;
  background-image: url(https://media-assets.wired.it/photos/615da134fea834cd5545cacb/master/w_1600%2Cc_limit/whatsapp-multi-dispositivo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: enter 500ms linear;
}

/* #region Aside */
aside {
  width: 100%;
  height: 100%;
  background-color: var(--bg_white);
}

/* #region header_aside */
.aside_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--bg_aside_header);
}

.principal_contact {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.principal_contact > .img {
  width: 50px;
}

.actions {
  position: relative;
  color: var(--gray_actions);
}

.actions > i {
  margin-right: 1rem;
}

.dropdown_add_contact {
  position: absolute;
  top: 100%;
  right: -8px;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg_white);
  box-shadow: 0 0 10px var(--light_gray);
}

.dropdown_add_contact > input {
  border: 1px solid var(--light_gray);
  margin: 1rem 0;
  padding: 1rem 0.25rem;
}

.dropdown_add_contact > button {
  background-color: transparent;
  border: 1px solid var(--light_gray);
  border-radius: 0.5rem;
  padding: 1rem;
  color: var(--black);
}

.dropdown_add_contact > button[type="submit"] {
  background-color: var(--blue);
  color: white;
}

/* #endregion header_aside */

/* #region Notifiche_section */

.section_notifiche {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--notifiche);
}

.section_notifiche > .img {
  width: 55px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: var(--bg_white);
  color: rgba(142, 218, 252, 1);
}

.section_notifiche > .text {
  width: calc(100% - (55px + 1rem));
}

.section_notifiche h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.section_notifiche p {
  text-decoration: underline;
  color: rgba(107, 115, 118, 1);
}

/* #endregion Notifiche_section */

/* #region Search_section */

.section_search {
  display: flex;
  padding: 0.5rem;
  background-color: var(--search);
}

.section_search > input,
.search {
  border: 1px solid var(--search_border);
  background-color: var(--bg_white);
  color: var(--gray_actions);
}

.search {
  padding: 0.5rem 2rem;
  font-size: 16px;
}

.section_search > input {
  width: 100%;
  padding: 0.25rem 1rem;
}

/* #endregion Search_section */

/* #region Contacts_section */

.contacts {
  height: calc(100% - 209px);
  overflow-y: scroll;
  background-color: var(--bg_white);
}

.contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top: 1px solid var(--contact_border);
}

.contact p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contact:first-child {
  border: none;
}

.description_contact {
  display: flex;
  padding-left: 0.5rem;
  width: 80%;
}

.description_contact > .img {
  width: 60px;
  margin-right: 1rem;
}

.description_contact > .text {
  width: calc(100% - (60px + 1rem));
}

.description_contact p,
.contact > .date {
  color: var(--gray_actions);
}

.contact > .date {
  width: 20%;
  text-align: right;
}
/* #endregion Contacts_section */

/* #endregion Aside */

/* #region Article */

article {
  width: 100%;
}

/* #region Header_body */

.article_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  background-color: var(--bg_aside_header);
}

.return {
  color: var(--gray_actions);
}

.contact_to_message {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.contact_to_message > .img {
  width: 50px;
}

.contact_to_message p {
  color: var(--gray_p);
}

.actions_article {
  position: relative;
  z-index: 1;
  padding: 15px 0;
  margin-left: auto;
  color: var(--gray_actions);
}

.actions_article > i {
  margin-right: 1rem;
}

.dropdown_chat {
  width: 230px;
  position: absolute;
  top: 80%;
  right: 0%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px var(--gray_actions);
  background-color: var(--bg_white);
}

.dropdown_chat > p {
  padding: 1rem;
}
/* #endregion Header_body */

/* #region Main_body */

.body_message {
  height: calc(100% - 140px);
  overflow-y: scroll;
  margin-top: -1px;
  background-image: url(../img/mine.jpg);
}

.message {
  width: calc(100% / 12 * 5);
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.message > p {
  width: 90%;
}

.message:hover .icon {
  display: block;
}

.icon {
  display: none;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.dropdown_message {
  width: 200px;
  position: absolute;
  top: 95%;
  right: 0%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px var(--gray_actions);
  background-color: var(--bg_white);
}

.dropdown_message > p {
  padding: 1rem;
}

.time_message {
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
  color: var(--gray_actions);
  font-size: 10px;
}

/* #endregion Main_body */

/* #region Footer_body */

.body_footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding: 0.75rem 0;
  background-color: var(--bg_footer);
}

.emoji {
  position: absolute;
  bottom: 92%;
  left: 2%;
  width: 52%;
  height: 250px;
  overflow-y: scroll;
  background-color: var(--bg_white);
  padding: 1rem 0.5rem;
  border: 1px solid var(--light_gray);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 5px var(--light_gray);
}

.body_footer .emoji_input {
  border: 1px solid var(--light_gray);
  margin-bottom: 0.5rem;
}

.body_footer > form {
  width: 80%;
}

.body_footer input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
}

/* #endregion Footer_body */

/* #endregion Article */

/* Animation */
@keyframes enter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* media */
